.new-task-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  max-width: 100%;
}

.new-task-wrapper label {
  display: none;
}

.new-task-wrapper input {
  border: none;
  border-radius: 3px;
  min-height: 38px;
  padding-left: 8px;
  font-size: 20px;
  width: 90%;
}

.new-task-wrapper input:focus {
  outline: solid 3px var(--positive);
}

button.add-todo {
  font-size: 20px;
  margin-left: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

button.add-todo:focus {
  outline: solid 3px white;
}

button.add-todo:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
  color: white;
}
