:root {
  --red: #d7263d;
  --positive: #069ffe;
  --background: #02182b;
  --accent: #225b89;
  --disabled: #B1C0D2;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 32px 20%;
}

@media screen and (max-width: 425px) {
  .app {
    padding: 32px 10%;
    font-size: 18px;
  }
}
