.logout-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px; 
}

input {
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

input:focus {
  outline: solid 3px white;
}

.uncompleted-todos {
  margin-bottom: 48px;
}

.completed-task {
  text-decoration: line-through;
  color: var(--background);
}

.completed-todos .delete-button {
  margin-left: 8px;
}

.todo-wrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 45px;
  border-radius: 3px;
  background-color: var(--accent);
  padding: 8px 16px;
}

.todo-wrapper label {
  display: flex;
}

.todo-wrapper input[type="text"] {
  height: 32px;
  padding-left: 8px;
  font-size: 16px;
}

.todo-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 16px;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.todo-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-wrapper input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.todo-wrapper:hover input[type="checkbox"] ~ .checkmark {
  background-color: lightgrey;
}

.todo-wrapper input[type="checkbox"]:focus + span.checkmark {
  outline: solid 3px var(--background);
}

.completed-todos .todo-wrapper:hover input[type="checkbox"] ~ .checkmark {
  background-color: white;
}

.editing-wrapper {
  margin-left: 16px;
  width: 105px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 425px) {
  .editing-wrapper {
    min-width: 8px;
  }
}

.editing-wrapper button:nth-of-type(1) {
  margin-right: 8px;
}

.delete-button {
  min-width: 32px;
  font-weight: 800;
}

.delete-all-wrapper {
  display: flex;
}

.delete-all-button {
  width: 100%;
  padding: 8px;
}

.delete-all-button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

@media screen and (max-width: 425px) {
  .editing-wrapper {
    margin-left: 8px;
  }

  .editing-wrapper input {
    font-size: 18px;
    max-width: 100px;
  }
}

.title {
  padding-left: 40px;
}

@media screen and (max-width: 680px) {
  .title {
    font-size: 16px;
    width: 80%;
    margin-right: 16px;
  }
}

button {
  background-color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 680px) {
  button {
    font-size: 14px;
  }
}

button.negative {
  background-color: var(--red);
  color: white;
}

button.positive {
  background-color: var(--positive);
}

button:focus {
  outline: solid 3px var(--background);
}

button.delete-all-button:focus {
  outline: solid 3px white;
}